@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Andika', sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.libg{
  background-image: linear-gradient(
  90deg,
  hsl(198deg 87% 91%) 1%,
  hsl(199deg 87% 92%) 44%,
  hsl(199deg 87% 93%) 50%,
  hsl(199deg 87% 95%) 51%,
  hsl(199deg 87% 96%) 50%,
  hsl(199deg 87% 97%) 49%,
  hsl(199deg 87% 98%) 50%,
  hsl(199deg 87% 99%) 56%,
  hsl(0deg 0% 100%) 99%
);
}

.mytext{
  color: darkblue;
}
.bg-img{
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
                  url("https://www.gehu.ac.in/content/dam/gehu/404.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
